{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">{{ article.nom }}</h1>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="{{ article.image.url }}" alt="..." /></div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-muted">{{ article.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}