{% extends 'base.html' %}

{% block content %}
  {% for article in categories.article_set.all %}
  {% if forloop.counter == 1 %}
      <!-- About section one-->
      <section class="py-5 bg-light" id="scroll-target">
          <div class="container px-5 my-5">
              <div class="row gx-5 align-items-center">
                  <div class="col-lg-6">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="{{ article.image.url }}" alt="{{ article.nom }}" /></div>
                  <div class="col-lg-6">
                      <h2 class="fw-bolder">
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'details' article.id %}">
                          {{article.nom }}
                        </a>
                        </h2>
                      <p class="lead fw-normal text-muted mb-0">{{ article.description }}</p>
                  </div>
              </div>
          </div>
      </section>
  {% elif forloop.counter == 2 %}
      <!-- About section two-->
      <section class="py-5">
          <div class="container px-5 my-5">
              <div class="row gx-5 align-items-center">
                  <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{{ article.image.url }}" alt="{{ article.nom }}" /></div>
                  <div class="col-lg-6">
                      <h2 class="fw-bolder">
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'details' article.id %}">
                            {{ article.nom }}
                          </a>
                    </h2>
                      <p class="lead fw-normal text-muted mb-0">{{ article.description }}</p>
                  </div>
              </div>
          </div>
      </section>
  {% endif %}
{% endfor %}


<!-- Blog preview section-->
{% for categorie in toutes_categories %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">{{ categorie.nom }}</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            {% for article in categorie.article_set.all %}
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{{ article.image.url }}" alt="{{ article.nom }}" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ categorie.nom }}</div>
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'details' article.id %}"><h5 class="card-title mb-3">{{ article.nom }}</h5></a>
                        <p class="card-text mb-0">{{ article.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}


{% endblock %}